:root {
  --latvian-flag-color: #9d2235;
  --body-padding: 12vw;
  --header-padding: 10vh;
  --font-stack-sans-serif: "Segoe UI",sans-serif;
  --font-stack: var(--font-stack-sans-serif);
  --font-size: 1.4vw;
  --background-color: #f3f3f3;
}

//333 text color?