:root {
  //--latvian-flag-color: #9d2235;
  --latvian-flag-color: #77353d;
  --body-padding: 12vw;
  --header-padding: 10vh;
  --nav-padding: 1vh;
  --blockquote-padding: 3vh;
  --blockquote-border-offset: 2vh;
  --font-stack-sans-serif: "Segoe UI",sans-serif;
  --font-stack: var(--font-stack-sans-serif);
  --font-size: 1.4vw;
  --border-width: 0.5vh;
  --background-color: #f3f3f3;
}

//333 text color?
